/node_modules
/public/hot
/public/storage
/public/whreceipts
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/envs/*
.phpunit.result.cache
app/Http/Controllers/Tenant/Invoice/InvoiceController.php
app/Traits/IncomeList.php
app/Traits/InvoiceList.php
config/backup.php
resources/assets/sass/app.scss
resources/assets/sass/slim.scss
resources/views/tenant/income/_index.blade.php
resources/views/tenant/invoice/_index.blade.php
resources/views/tenant/invoice/show.blade.php
resources/views/tenant/search/results.blade.php
resources/views/tenant/warehouse/_fields.blade.php
routes/tenant/employee.php
app/Http/Controllers/Converter/
app/Http/Controllers/Tenant/Converter/
app/Traits/conversor.php
resources/views/tenant/converter/
resources/views/tenant/invoice/show.blade_original.php
resources/views/tenant/invoice/show2.blade.php
resources/views/tenant/invoice/show_original.blade.php
